/* skip to */

.mds-skip-to {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 40px;
  width: 100%;
  border: 4px solid var(--mds-color-primary);
  padding: 0;
  margin: 0;
  background: var(--mds-container-bg-color-inverse);
  color: var(--mds-text-color-inverse);
  transform: translateY(-100%);
  z-index: 3010;
}

.mds-skip-to:focus {
  transform: translateY(0%);
}
