---
  layout: default.njk
  collection: Guidelines
---

<article>

  {% include "./partials/article-header.njk" %}

  <section class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-08 mu-px-xl-08 ]">
    <div class="mds-content-chunk">
      {% if toc == true %}
        {% from "./table-of-contents/table-of-contents.njk" import generateToc %}
        {{ generateToc(content) }}
      {% endif %}
      
      {{ content | safe }}

      {{ colour.greyscale_colours | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--gray-10)"></div>
        <div style="background-color: var(--gray-20)"></div>
        <div style="background-color: var(--gray-30)"></div>
        <div style="background-color: var(--gray-40)"></div>
        <div style="background-color: var(--gray-50)"></div>
        <div style="background-color: var(--gray-60)"></div>
        <div style="background-color: var(--gray-70)"></div>
        <div style="background-color: var(--gray-80)"></div>
        <div style="background-color: var(--gray-90)"></div>
        <div style="background-color: var(--gray-100)"></div>
        <div style="background-color: var(--gray-110)"></div>
        <div style="background-color: var(--gray-120)"></div>
      </div>

      <h2>All colours</h2>

      <div class="mds-colour-palette">
        <div style="background-color: var(--blue-10)"></div>
        <div style="background-color: var(--blue-20)"></div>
        <div style="background-color: var(--blue-30)"></div>
        <div style="background-color: var(--blue-40)"></div>
        <div style="background-color: var(--blue-50)"></div>
        <div style="background-color: var(--blue-60)"></div>
        <div style="background-color: var(--blue-70)"></div>
        <div style="background-color: var(--blue-80)"></div>
        <div style="background-color: var(--blue-90)"></div>
        <div style="background-color: var(--blue-100)"></div>
        <div style="background-color: var(--blue-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--green-10)"></div>
        <div style="background-color: var(--green-20)"></div>
        <div style="background-color: var(--green-30)"></div>
        <div style="background-color: var(--green-40)"></div>
        <div style="background-color: var(--green-50)"></div>
        <div style="background-color: var(--green-60)"></div>
        <div style="background-color: var(--green-70)"></div>
        <div style="background-color: var(--green-80)"></div>
        <div style="background-color: var(--green-90)"></div>
        <div style="background-color: var(--green-100)"></div>
        <div style="background-color: var(--green-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--yellow-10)"></div>
        <div style="background-color: var(--yellow-20)"></div>
        <div style="background-color: var(--yellow-30)"></div>
        <div style="background-color: var(--yellow-40)"></div>
        <div style="background-color: var(--yellow-50)"></div>
        <div style="background-color: var(--yellow-60)"></div>
        <div style="background-color: var(--yellow-70)"></div>
        <div style="background-color: var(--yellow-80)"></div>
        <div style="background-color: var(--yellow-90)"></div>
        <div style="background-color: var(--yellow-100)"></div>
        <div style="background-color: var(--yellow-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--red-10)"></div>
        <div style="background-color: var(--red-20)"></div>
        <div style="background-color: var(--red-30)"></div>
        <div style="background-color: var(--red-40)"></div>
        <div style="background-color: var(--red-50)"></div>
        <div style="background-color: var(--red-60)"></div>
        <div style="background-color: var(--red-70)"></div>
        <div style="background-color: var(--red-80)"></div>
        <div style="background-color: var(--red-90)"></div>
        <div style="background-color: var(--red-100)"></div>
        <div style="background-color: var(--red-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--teal-10)"></div>
        <div style="background-color: var(--teal-20)"></div>
        <div style="background-color: var(--teal-30)"></div>
        <div style="background-color: var(--teal-40)"></div>
        <div style="background-color: var(--teal-50)"></div>
        <div style="background-color: var(--teal-60)"></div>
        <div style="background-color: var(--teal-70)"></div>
        <div style="background-color: var(--teal-80)"></div>
        <div style="background-color: var(--teal-90)"></div>
        <div style="background-color: var(--teal-100)"></div>
        <div style="background-color: var(--teal-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--purple-10)"></div>
        <div style="background-color: var(--purple-20)"></div>
        <div style="background-color: var(--purple-30)"></div>
        <div style="background-color: var(--purple-40)"></div>
        <div style="background-color: var(--purple-50)"></div>
        <div style="background-color: var(--purple-60)"></div>
        <div style="background-color: var(--purple-70)"></div>
        <div style="background-color: var(--purple-80)"></div>
        <div style="background-color: var(--purple-90)"></div>
        <div style="background-color: var(--purple-100)"></div>
        <div style="background-color: var(--purple-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--pink-10)"></div>
        <div style="background-color: var(--pink-20)"></div>
        <div style="background-color: var(--pink-30)"></div>
        <div style="background-color: var(--pink-40)"></div>
        <div style="background-color: var(--pink-50)"></div>
        <div style="background-color: var(--pink-60)"></div>
        <div style="background-color: var(--pink-70)"></div>
        <div style="background-color: var(--pink-80)"></div>
        <div style="background-color: var(--pink-90)"></div>
        <div style="background-color: var(--pink-100)"></div>
        <div style="background-color: var(--pink-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--orange-10)"></div>
        <div style="background-color: var(--orange-20)"></div>
        <div style="background-color: var(--orange-30)"></div>
        <div style="background-color: var(--orange-40)"></div>
        <div style="background-color: var(--orange-50)"></div>
        <div style="background-color: var(--orange-60)"></div>
        <div style="background-color: var(--orange-70)"></div>
        <div style="background-color: var(--orange-80)"></div>
        <div style="background-color: var(--orange-90)"></div>
        <div style="background-color: var(--orange-100)"></div>
        <div style="background-color: var(--orange-110)"></div>
      </div>

      {{ colour.contextual_colours | markdownify | safe }}

      {{ colour.primary | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--primary)"></div>
      </div>

      {{ colour.success | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--success)"></div>
      </div>

      {{ colour.danger | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--danger)"></div>
      </div>

      {{ colour.warning | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--warning)"></div>
      </div>

      {{ colour.info | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--info)"></div>
      </div>

    </div>
  </section> 

  {% include "./partials/article-footer.njk" %}

</article>