---
  layout: default.njk
  collection: Guidelines
---

<article>

  {% include "./partials/article-header.njk" %}

  <section class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-08 mu-px-xl-08 ]">
    <div class="mds-content-chunk">
      {% if toc == true %}
        {% from "./table-of-contents/table-of-contents.njk" import generateToc %}
        {{ generateToc(content) }}
      {% endif %}
      
      {{ content | safe }}

      {{ colour.greyscale_colours | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-gray-10)"></div>
        <div style="background-color: var(--mds-color-gray-20)"></div>
        <div style="background-color: var(--mds-color-gray-30)"></div>
        <div style="background-color: var(--mds-color-gray-40)"></div>
        <div style="background-color: var(--mds-color-gray-50)"></div>
        <div style="background-color: var(--mds-color-gray-60)"></div>
        <div style="background-color: var(--mds-color-gray-70)"></div>
        <div style="background-color: var(--mds-color-gray-80)"></div>
        <div style="background-color: var(--mds-color-gray-90)"></div>
        <div style="background-color: var(--mds-color-gray-100)"></div>
        <div style="background-color: var(--mds-color-gray-110)"></div>
        <div style="background-color: var(--mds-color-gray-120)"></div>
      </div>

      <h2>All colours</h2>

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-blue-10)"></div>
        <div style="background-color: var(--mds-color-blue-20)"></div>
        <div style="background-color: var(--mds-color-blue-30)"></div>
        <div style="background-color: var(--mds-color-blue-40)"></div>
        <div style="background-color: var(--mds-color-blue-50)"></div>
        <div style="background-color: var(--mds-color-blue-60)"></div>
        <div style="background-color: var(--mds-color-blue-70)"></div>
        <div style="background-color: var(--mds-color-blue-80)"></div>
        <div style="background-color: var(--mds-color-blue-90)"></div>
        <div style="background-color: var(--mds-color-blue-100)"></div>
        <div style="background-color: var(--mds-color-blue-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-green-10)"></div>
        <div style="background-color: var(--mds-color-green-20)"></div>
        <div style="background-color: var(--mds-color-green-30)"></div>
        <div style="background-color: var(--mds-color-green-40)"></div>
        <div style="background-color: var(--mds-color-green-50)"></div>
        <div style="background-color: var(--mds-color-green-60)"></div>
        <div style="background-color: var(--mds-color-green-70)"></div>
        <div style="background-color: var(--mds-color-green-80)"></div>
        <div style="background-color: var(--mds-color-green-90)"></div>
        <div style="background-color: var(--mds-color-green-100)"></div>
        <div style="background-color: var(--mds-color-green-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-yellow-10)"></div>
        <div style="background-color: var(--mds-color-yellow-20)"></div>
        <div style="background-color: var(--mds-color-yellow-30)"></div>
        <div style="background-color: var(--mds-color-yellow-40)"></div>
        <div style="background-color: var(--mds-color-yellow-50)"></div>
        <div style="background-color: var(--mds-color-yellow-60)"></div>
        <div style="background-color: var(--mds-color-yellow-70)"></div>
        <div style="background-color: var(--mds-color-yellow-80)"></div>
        <div style="background-color: var(--mds-color-yellow-90)"></div>
        <div style="background-color: var(--mds-color-yellow-100)"></div>
        <div style="background-color: var(--mds-color-yellow-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-red-10)"></div>
        <div style="background-color: var(--mds-color-red-20)"></div>
        <div style="background-color: var(--mds-color-red-30)"></div>
        <div style="background-color: var(--mds-color-red-40)"></div>
        <div style="background-color: var(--mds-color-red-50)"></div>
        <div style="background-color: var(--mds-color-red-60)"></div>
        <div style="background-color: var(--mds-color-red-70)"></div>
        <div style="background-color: var(--mds-color-red-80)"></div>
        <div style="background-color: var(--mds-color-red-90)"></div>
        <div style="background-color: var(--mds-color-red-100)"></div>
        <div style="background-color: var(--mds-color-red-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-teal-10)"></div>
        <div style="background-color: var(--mds-color-teal-20)"></div>
        <div style="background-color: var(--mds-color-teal-30)"></div>
        <div style="background-color: var(--mds-color-teal-40)"></div>
        <div style="background-color: var(--mds-color-teal-50)"></div>
        <div style="background-color: var(--mds-color-teal-60)"></div>
        <div style="background-color: var(--mds-color-teal-70)"></div>
        <div style="background-color: var(--mds-color-teal-80)"></div>
        <div style="background-color: var(--mds-color-teal-90)"></div>
        <div style="background-color: var(--mds-color-teal-100)"></div>
        <div style="background-color: var(--mds-color-teal-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-purple-10)"></div>
        <div style="background-color: var(--mds-color-purple-20)"></div>
        <div style="background-color: var(--mds-color-purple-30)"></div>
        <div style="background-color: var(--mds-color-purple-40)"></div>
        <div style="background-color: var(--mds-color-purple-50)"></div>
        <div style="background-color: var(--mds-color-purple-60)"></div>
        <div style="background-color: var(--mds-color-purple-70)"></div>
        <div style="background-color: var(--mds-color-purple-80)"></div>
        <div style="background-color: var(--mds-color-purple-90)"></div>
        <div style="background-color: var(--mds-color-purple-100)"></div>
        <div style="background-color: var(--mds-color-purple-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-pink-10)"></div>
        <div style="background-color: var(--mds-color-pink-20)"></div>
        <div style="background-color: var(--mds-color-pink-30)"></div>
        <div style="background-color: var(--mds-color-pink-40)"></div>
        <div style="background-color: var(--mds-color-pink-50)"></div>
        <div style="background-color: var(--mds-color-pink-60)"></div>
        <div style="background-color: var(--mds-color-pink-70)"></div>
        <div style="background-color: var(--mds-color-pink-80)"></div>
        <div style="background-color: var(--mds-color-pink-90)"></div>
        <div style="background-color: var(--mds-color-pink-100)"></div>
        <div style="background-color: var(--mds-color-pink-110)"></div>
      </div>

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-orange-10)"></div>
        <div style="background-color: var(--mds-color-orange-20)"></div>
        <div style="background-color: var(--mds-color-orange-30)"></div>
        <div style="background-color: var(--mds-color-orange-40)"></div>
        <div style="background-color: var(--mds-color-orange-50)"></div>
        <div style="background-color: var(--mds-color-orange-60)"></div>
        <div style="background-color: var(--mds-color-orange-70)"></div>
        <div style="background-color: var(--mds-color-orange-80)"></div>
        <div style="background-color: var(--mds-color-orange-90)"></div>
        <div style="background-color: var(--mds-color-orange-100)"></div>
        <div style="background-color: var(--mds-color-orange-110)"></div>
      </div>

      {{ colour.contextual_colours | markdownify | safe }}

      {{ colour.primary | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-primary)"></div>
      </div>

      {{ colour.success | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-success)"></div>
      </div>

      {{ colour.danger | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-danger)"></div>
      </div>

      {{ colour.warning | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-warning)"></div>
      </div>

      {{ colour.info | markdownify | safe }}

      <div class="mds-colour-palette">
        <div style="background-color: var(--mds-color-info)"></div>
      </div>

    </div>
  </section> 

  {% include "./partials/article-footer.njk" %}

</article>