---
  layout: default.njk
  collection: Mosaic
---

<article>

  {% include "./partials/article-header.njk" %}

  <section class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-08 mu-px-xl-08 ]">
    <div class="mds-content-chunk">
      {% if toc == true %}
        {% from "./table-of-contents/table-of-contents.njk" import generateToc %}
        {{ generateToc(content) }}
      {% endif %}
      {{ content | safe }}

      <div class="mcc-table--responsive">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Design</th>
              <th>Documentation</th>
              <th>HTML/CSS</th>
              <th>Web Component</th>
            </tr>
          </thead>
          <tbody>
            {% for item in collections.components %}
              <tr>
                <td date-title="Name"><a href="{{ item.data.page.url }}">{{ item.data.title }}</a></td>
                <td data-title="Design">{{ item.data.status.design }}</td>
                <td data-title="Documentation">{{ item.data.status.documentation }}</td>
                <td data-title="HTML/CSS">{{ item.data.status.html_css }}</td>
                <td data-title="Web Component">{{ item.data.status.web_component }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </section> 

  {% include "./partials/article-footer.njk" %}

</article>