---
  layout: default.njk
  collection: components
---

<article>

  {% include "./partials/article-header.njk" %}

  <section class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-08 mu-px-xl-08 ]">
    <div class="mds-content-chunk">
      {% if toc == true %}
        {% from "./table-of-contents/table-of-contents.njk" import generateToc %}
        {{ generateToc(content) }}
      {% endif %}
      {{ content | safe }}

      <div class="mcc-table--responsive">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Design</th>
              <th>Documentation</th>
              <th>HTML/CSS</th>
              <th>Web Component</th>
            </tr>
          </thead>
          <tbody>
            {% set statusType = 'overview' %}
            {% include "./component-status/component-status.njk" %}
          </tbody>
        </table>
      </div>

    </div>
  </section> 

  {% include "./partials/article-footer.njk" %}

</article>