<div class="mds-home-page-hero mds-home-page-hero--light"></div>
<div class="mds-home-page-hero mds-home-page-hero--dark"></div>

{% set css %}
  {% include "./hero.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>
