<div class="mds-content-chunk">

  {% if status.body %}
    {{ status.body | markdownify | safe }}
  {% endif %}

  <div class="mcc-table--responsive">
    <table>
      <thead>
        <tr>
          <th>Design</th>
          <th>Documentation</th>
          <th>HTML/CSS</th>
          <th>Web Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% set statusType = 'component' %}
          {% include "../../component-status/component-status.njk" %}
        </tr>
      </tbody>
    </table>
  </div>

</div>