<button class="[ mcc-navigation-header__button ]" type="button" onclick="showSearchDialog()" aria-label="Search">
  <mcc-icon name="search" icon-set="fluency-filled" aria-hidden="true"></mcc-icon>
  <span class="mu-d-none mu-d-md-block">Search</span>
  <span class="[ mcc-chip mcc-chip--soft-info mcc-chip--xs ] [ mu-d-none mu-d-md-block ]">Ctrl+k</span>
</button>