<div class="mds-team-grid">
  {% for item in collections.team %}
    <div class="mcc-card">
      <div class="[ mcc-card__body ] [ mu-d-flex mu-flex-column mu-flex-xl-row ]">
        <div class="mu-flex-shrink-0 mu-mb-05 mu-mb-xl-00">
          {% if item.data.profile_picture %}
            <img class="[ mds-team-member-{{ item.data.profile_picture.background_colour }} ] [ mu-radius-03 ]" src="{{ item.data.profile_picture.img }}" width="124" height="124">
            {% else %}
            <div class="[ mds-team-member mds-team-member-grey ] mu-d-flex mu-justify-content-center mu-align-items-center mu-radius-03">
              <mcc-icon name="user" icon-set="fluency-outline" aria-hidden="true" width="80" height="80"></mcc-icon>
            </div>
          {% endif %}
        </div>
        <div class="mu-ml-xl-06">
          <div class="mu-fs-2 mu-fw-semi-bold mu-mb-01">{{ item.data.name }}</div>
          <div class="mu-fw-semi-bold mu-mb-03">{{ item.data.job_title }}</div>
          <p class="mu-text-muted mu-mb-00">{{ item.data.bio }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% set css %}
  {% include "./team-member.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>
