<div class="[ mds-content-card-grid ] [ mu-gap-05 mu-gap-md-07 ]">

  {% for card in home.content_cards %}
              
    <div class="mu-bg-container-02 mu-radius-02 mu-border mu-p-06 mu-p-md-07 mu-p-xl-08 mu-d-flex mu-flex-column mu-justify-content-between mu-flex-lg-row-reverse mu-gap-03 mu-gap-lg-06 mu-h-100">
      <div>
        <mcc-icon name="{{ card.icon }}" icon-set="fluency-color" aria-hidden="true" width="64" height="64"></mcc-icon>
      </div>
      <div class="mu-d-flex mu-align-items-start mu-flex-column mu-flex-fill">
        <h2 class="mu-mb-03">{{ card.title }}</h2>
        <p>{{ card.description }}</p>
        <a href="{{ card.button.url }}" class="mcc-button mcc-button--outline mcc-button--sm">
          <span class="mcc-button__label">{{ card.button.label }}</span>
        </a>
      </div>
    </div>

  {% endfor %}

</div>

{% set css %}
  {% include "./content-card.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>