<details class="mcc-dropdown mcc-dropdown--sw">
  <summary aria-haspopup="true" aria-label="Switch sites">
    <div class="mcc-navigation-header__button">
      <mcc-icon name="thumbnails" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
      <span class="mu-d-none mu-d-md-block">Switch sites</span>
    </div>
  </summary>
  <ul class="mcc-dropdown__menu">
    <li>
      <button type="button">
        <div>Developer Portal</div>
      </button>
    </li>
  </ul>
</details>