<button class="mcc-button mcc-button--primary mds-back-to-top">
  <mcc-icon name="up_arrow" icon-set="fluency-filled" aria-hidden="true"></mcc-icon>
  <span class="mcc-button__label">Back to top</span>
</button>

{% set css %}
  {% include "./back-to-top.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>

{% set js %}
  {% include "./back-to-top.js" %}
{% endset %}

<script>
  {{ js | jsmin | safe }}
</script>