/* back to top */

.mds-back-to-top:not(.mds-back-to-top--show) {
  display: none;
}

.mds-back-to-top {
  position: fixed;
  bottom: var(--mds-spacing-05);
  right: var(--mds-spacing-05);
  z-index: 100;
}

@media (min-width: 768px) {
  .mds-back-to-top {
    bottom: var(--mds-spacing-06);
    right: var(--mds-spacing-06);
  }
}

@media (min-width: 993px) {
  .mds-back-to-top {
    bottom: var(--mds-spacing-07);
    right: var(--mds-spacing-07);
  }
}
