<footer class="[ mcc-footer ] [ mu-p-00 ]">
  <div class="[ mds-container ] [ mu-p-05 mu-p-md-06 mu-p-lg-07 mu-py-xl-07 mu-px-xl-08 ]">
    <div class="[ mcc-nav mcc-nav--vertical mcc-nav--simple ] [ mu-flex-column mu-mb-08 ]">
      <a href="/contact">Contact</a>
      <a href="/accessibility">Accessibility</a>
      <a href="/terms-of-use">Terms of use</a>
      <a href="/privacy">Privacy</a>
    </div>
    <div class="mu-d-md-flex mu-justify-content-between mu-align-items-center">
      <a href="https://www.oneadvanced.com/" target="_blank">
        <span class="mu-d-flex mu-align-items-center">
          <img class="mu-mr-03" src="https://cdn.svc.oneadvanced.com/mosaic/2.0.0/img/logo.svg" alt="One Advanced Logo" width="32" height="32">
          <span>An Advanced creation.</span>
        </span>
      </a>
    </div>
  </div>
</footer>
