<header class="mcc-navigation-header mcc-navigation-header--fixed" aria-label="Advanced Product" role="banner">

  <nav class="mcc-navigation-header__nav" style="gap: 0.25rem;">
    <button id="drawer-toggle" class="[ mcc-navigation-header__button mcc-navigation-header__button--icon-only ]">
      <mcc-icon name="hide_sidepanel" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
      <mcc-icon name="show_sidepanel" icon-set="fluency-outline" aria-hidden="true"></mcc-icon>
      <span>Toggle navigation drawer</span>
    </button>

    <a href="/" class="mcc-navigation-header__button">
      <span class="[ mds-site-name-logo ] [ mu-d-none mu-d-lg-flex mu-align-items-center ]">{% include "./logo.njk" %}</span>
      <span class="mu-d-none mu-d-lg-flex mu-fw-semi-bold mu-text-default">Mosaic Design System</span>
      <span class="mu-d-lg-none mu-ml-00 mu-fw-semi-bold mu-text-default">MDS</span>
    </a>
  </nav>

  <nav class="mcc-navigation-header__global" style="gap: 0.5rem;">
    {% include "../search/search-button.njk" %}
    {% include "../theme-toggle/theme-toggle.njk" %}
  </nav>

</header>

<div class="mcc-navigation-header--fixed-adjust"></div>