<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 26.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 120 120" enable-background="new 0 0 120 120" xml:space="preserve">
<polygon fill="#468146" stroke="#468146" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="50,43.2 
	40,60 50,76.8 60,60 "/>
<polygon fill="#F3A908" stroke="#F4A90A" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="60,60 
	50,76.8 60,93.6 70,76.8 "/>
<polygon fill="#2975BB" stroke="#2A75BB" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="70,76.8 
	60,93.6 70,93.6 80,93.6 "/>
<polygon fill="#177A81" stroke="#187A81" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="30,43.2 
	20,60 30,76.8 40,60 "/>
<polygon fill="#2975BB" stroke="#2A75BB" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="20,60 
	10,76.8 20,93.6 30,76.8 "/>
<polygon fill="#F3A908" stroke="#F4A90A" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="10,76.8 
	0,93.6 10,93.6 20,93.6 "/>
<polygon fill="#F3A908" stroke="#F4A90A" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="80,26.4 
	70,43.2 80,60 90,43.2 "/>
<polygon fill="#2975BB" stroke="#2A75BB" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="90,43.2 
	80,60 90,76.8 100,60 "/>
<polygon fill="#AE2B82" stroke="#AE2C83" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="100,60 
	90,76.8 100,93.6 110,76.8 "/>
<polygon fill="#468146" stroke="#468146" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="110,76.8 
	100,93.6 110,93.6 120,93.6 "/>
<polygon fill="#AE2B82" stroke="#AE2C83" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="40,26.4 
	30,43.2 40,60 50,43.2 "/>
</svg>
