<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 26.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 120 120" enable-background="new 0 0 120 120" xml:space="preserve">
<path fill="#872666" stroke="#872666" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M40,26.4
	c0,8.4,0,25.2,0,33.6l10-16.8L40,26.4z"/>
<path fill="#3A663A" stroke="#3A673B" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M50,43.2
	c0,8.4,0,25.2,0,33.6L60,60L50,43.2z"/>
<path fill="#BA850F" stroke="#B9850F" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M60,60
	c0,8.4,0,25.2,0,33.6l10-16.8L60,60z"/>
<polygon fill="#345A82" stroke="#345B83" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="70,93.6 
	80,93.6 70,76.8 "/>
<path fill="#166266" stroke="#166267" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M30,43.2
	c0,8.4,0,25.2,0,33.6L40,60L30,43.2z"/>
<path fill="#345A82" stroke="#345B83" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M20,60
	c0,8.4,0,25.2,0,33.6l10-16.8L20,60z"/>
<polygon fill="#BA850F" stroke="#B9850F" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="10,93.6 
	20,93.6 10,76.8 "/>
<path fill="#BA850F" stroke="#B9850F" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M80,26.4
	c0,8.4,0,25.2,0,33.6l10-16.8L80,26.4z"/>
<path fill="#345A82" stroke="#345B83" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M90,43.2
	c0,8.4,0,25.2,0,33.6L100,60L90,43.2z"/>
<path fill="#872666" stroke="#872666" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M100,60
	c0,8.4,0,25.2,0,33.6l10-16.8L100,60z"/>
<polygon fill="#3A663A" stroke="#3A673B" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="110,93.6 
	120,93.6 110,76.8 "/>
<path fill="#468146" stroke="#468146" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M40,60l10,16.8
	c0-8.4,0-25.2,0-33.6L40,60z"/>
<path fill="#F3A908" stroke="#F4A90A" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M50,76.8l10,16.8
	c0-8.4,0-25.2,0-33.6L50,76.8z"/>
<polygon fill="#2975BB" stroke="#2A75BB" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="70,76.8 
	60,93.6 70,93.6 "/>
<path fill="#177A81" stroke="#187A81" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M20,60l10,16.8
	c0-8.4,0-25.2,0-33.6L20,60z"/>
<path fill="#2975BB" stroke="#2A75BB" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M10,76.8l10,16.8
	c0-8.4,0-25.2,0-33.6L10,76.8z"/>
<polygon fill="#F3A908" stroke="#F4A90A" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="10,76.8 
	0,93.6 10,93.6 "/>
<path fill="#F3A908" stroke="#F4A90A" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M70,43.2L80,60
	c0-8.4,0-25.2,0-33.6L70,43.2z"/>
<path fill="#2975BB" stroke="#2A75BB" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M80,60l10,16.8
	c0-8.4,0-25.2,0-33.6L80,60z"/>
<path fill="#AE2B82" stroke="#AE2C83" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M90,76.8l10,16.8
	c0-8.4,0-25.2,0-33.6L90,76.8z"/>
<polygon fill="#468146" stroke="#468146" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" points="110,76.8 
	100,93.6 110,93.6 "/>
<path fill="#AE2B82" stroke="#AE2C83" stroke-width="0.25" stroke-linejoin="bevel" stroke-miterlimit="10" d="M30,43.2L40,60
	c0-8.4,0-25.2,0-33.6L30,43.2z"/>
</svg>
